﻿
body {
    min-width: 570px;
    background-color: #F5F7F9;
    font-family: Roboto;
}



#header-tab {
    background-color: #6200EA !important;
    color: whitesmoke;
    padding: 10px;
    font-weight: bold;
    border-radius: 0;
    top: 0;
    border-width: 0 0 1px;
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 80px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}


a {
    text-decoration: none;
    color: white;
}

.btn:hover a {
    text-decoration: none;
    color: #6200EA;
}

.inlines {
    display: inline-block;
}

#filter-container {
    min-width: 940px;
    padding-bottom: 5px;
}

#no-discrepancies {
    margin: auto;
    width: 50%;
    color: darkgreen;
    font-size: 20px;
    font-family: graphik;
    text-align: center;
}

.btn {
    background-color: #6200EA;
    border: 1px solid #6200EA !important;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 2px;
}

.btn:hover {
    background-color: white;
    border: 1px solid #B2B5BC;
    font-weight: 600;
    color: #6200EA;
}


#app-name {
    font-size: 30px;
}

.icon-color {
    color: #6200EA
}


.table-info {
    color: #4800ad;
    margin-bottom: 3px;
}


.crypto-pic {
    width: 100px;
}

#filter-container {
    width: 600px;
    margin: auto;
    float: initial !important;
    min-width: 100px;
}

.crypto-name {
    font-size: 40px;
    margin-left: 50px;
}

.crypto-price {
    position: relative;
    top: 40px;
    left: 50px;
    font-size: 30px

}

.error-tag {
    color: darkred;
}

.subscribe-button {
    position: relative;
    left: 340px;
    bottom: 100px;
}