@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (@ViewBag.user != null)
{

        <ul class="nav navbar-nav navbar-right">
            <li>@ViewBag.user</li>
            <li>
                <div class="pull-left btn btn-default"> @Html.ActionLink("Log out", "Logout", "Home")</div>
            </li>
        </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-action="Register">Register</a></li>
        <li><a asp-area="Identity" asp-action="Login">Login</a></li>
    </ul>
}