﻿@using Microsoft.CodeAnalysis
@model List<CryptocurrencyModel>
@*<div class="container" style="margin-top: 10px;">
        <div id="filter-container" class="panel panel-default col-md-12" style="padding: 20px;">
            <div align="center">
                <input type="text" placeholder="type projectId" value="" class="form-control inlines" onkeydown="pressRefresh()" onclick="return false;" id="project-text" />
                <div class="btn btn-default inlines lira-button" data-toggle="tooltip" title="specify projectid" onclick="refreshPage()">Select</div>
            </div>
            <div class="hidden pull-right" id="error-tag"></div>
        </div>
    </div>*@

@foreach (var crypto in @Model)
{
    <div class="container" style="margin-top: 10px;">
        <div id="filter-container" class="panel panel-default col-md-12" style="padding: 20px;">
            <img class="crypto-pic inlines" src="@crypto.PictureUrl" />
            <div class="inlines">
                <div class="crypto-name">@crypto.FullName</div>
                <div class="crypto-price">Dabartinė kaina: @crypto.Price</div>
                @if (@ViewBag.user != null && @ViewBag.user != "")
                {
                    if (crypto.Subscribed)
                    {
                        <input type="button" disabled value="uzprenumeruota" class="subscribe-button btn">
                    }
                    else
                    {
                        <input type="button" value="prenumeruoti" class="subscribe-button btn">
                        <div class="hidden hidden-code">@crypto.Name</div>
                        <div class="hidden hidden-name">@crypto.FullName</div>
                        <div class="hidden hidden-url">@crypto.PictureUrl</div>
                    }

                }

            </div>
        </div>
    </div>
}


<div id="historic-table-container" class="panel panel-default col-md-12" style="padding: 20px;">
</div>

<div class="hidden" id="subscribe-button">@Html.ActionLink("", "Subscribe", "Home", new { code = "codechange", name = "namechange", url = "urlchange" })</div>
