﻿@using Microsoft.CodeAnalysis
@model List<CryptocurrencyModel>

@*<div class="container" style="margin-top: 10px;">
    <div id="filter-container" class="panel panel-default col-md-12" style="padding: 20px;">
        <div align="center">
            <input type="text" placeholder="type projectId" value="" class="form-control inlines" onkeydown="pressRefresh()" onclick="return false;" id="project-text" />
            <div class="btn btn-default inlines lira-button" data-toggle="tooltip" title="specify projectid" onclick="refreshPage()">Select</div>
        </div>
        <div class="hidden pull-right" id="error-tag"></div>
    </div>
</div>*@

@if (Model.Count < 1)
{
    <div>@ViewBag.Message</div>
}
else
{
@foreach (var crypto in @Model)
 {
     <div class="container" style="margin-top: 10px;">
         <div id="filter-container" class="panel panel-default col-md-12" style="padding: 20px;">
             <img class="crypto-pic inlines" src="@crypto.PictureUrl"/>
             <div class="inlines">
                 <div class="crypto-name">@crypto.FullName</div>
                 <div class="crypto-price">Dabartinė kaina: @crypto.Price</div>
             </div>
         </div>
     </div>
 }
}

<div id="historic-table-container" class="panel panel-default col-md-12" style="padding: 20px;">
</div>

@*<div class="hidden" id="refresh-button">@Html.ActionLink("", "index", "LiraDashboard", new { id = "projectidchange" })</div>*@
