﻿

        <h2>Log in</h2>
<div class="row">
    <div class="col-md-4">
        <section>
                <h4>Įveskite duomenis norėdami prisijungti</h4>
                <hr />
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Input_name">Vardas</label>
                    <input class="form-control name-login" data-val-required="Vardo laukas privalomas" id="Input_name" name="Input.name" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password">Slaptažodis</label>
                    <input class="form-control password-login" type="password" data-val="true" data-val-required="slaptažodis neivestas" id="Input_Password" name="Input.Password" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>

            <div class="form-group">
                <button type="button" id="login-button" class="btn btn-default">Prisijungti</button>
            </div>
            <div class="error-tag">@ViewBag.Message</div>
        </section>
    </div>
</div>
<div class="hidden" id="login-button-get">@Html.ActionLink("", "GetLoginData", "Home", new { name = "namechange", password = "passwordchange"})</div>

