﻿
    <div class="container body-content">

        <h2>Registruotis</h2>

    <div class="row">
        <div class="col-md-4">
            <h4>Sukurkite nauja paskyrą</h4>
            <hr />
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="Input_Email">Vardas</label>
                <input class="form-control name_create" data-val="true" data-val-email="Neteisingas vardas" data-val-required="šis laukas negali būti tuščias" id="Input_vardas" name="Input.vardas" value="" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.vardas" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="Input_Password">Slaptažodis</label>
                <input class="form-control password-create" type="password" data-val="true" data-val-length="Slaptažodis turi būti ilgesnis nei 6 simboliai" data-val-length-max="100" data-val-length-min="6" data-val-required="šis laukas negali būti tuščias" id="Input_Password" name="Input.Password" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="Input_ConfirmPassword">Pakartokite slaptažodį</label>
                <input class="form-control confirmpassword-create" type="password" data-val="true" data-val-equalto="slaptažodis turi būti toks pats" data-val-equalto-other="*.Password" id="Input_ConfirmPassword" name="Input.ConfirmPassword" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="hidden" class="error-tag">Neteisingai Įvesti duomenys. slaptažodis turi būti ilgesnis nei 6 simboliai, turi būti pakartotas lygiai taip pat antrame lauke.</div>
            <div class="hidden" >@ViewBag.Message</div>
            <input type="button" id="create-button" class="btn btn-default">Registruotis</input>

        </div>
    </div>
        </div>
    <div class="hidden" id="create-button-get">@Html.ActionLink("", "GetRegisterData", "Home", new { name = "namechange", password = "passwordchange"})</div>